@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    text-align: center;
}

a.popup{
    color:white;
}

#mainContainer{
    display: flex;
    margin: 1%;
    /* width: 100%; */
    height:100%;
    justify-content: center;
}

#contentContainer{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    /* width:100%; */
    height:100vh;
}

h2{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    margin:auto;
    text-align: center;
    padding: 30px;
}

#question_area{
    margin-top: 150px;
    padding: 25px;
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    background-color: #F5F5F7;
    width: 100%;
    border-radius: 14px;
    justify-content: center;
    /*align-items: center;*/
}

.surveyButton{
    border-radius: 8px;
    background-color: black;
    color:white;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align:center;
    height: 80px;
    /* width: 200px; */
    width: auto;
    margin: 10px;
}

#back_button{
    display:flex;
    background-color:white;
    width: 65px;
    height: 60px;
    margin-left: 7px;
    padding:10px;
    justify-content: flex-start;
}

#progress_bar{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    width:450px;
    height:25px;
}

#buttons{
    margin-bottom:10px;
}

/* RESOURCES DISPLAY STYLING */

#resources{
    padding: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

#thankYou{
    display:flex;
    flex-shrink: 5;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    /* margin-bottom: 50px; */
    border-radius: 14px;
    background-color:#F5F5F7;
    padding: 25px;
    margin-bottom: 25px;
    /* margin-top: -40px; */

}

/* collapsible styling source: https://www.w3schools.com/howto/howto_js_collapsible.asp */

.resourceDescription, .itemsToBring, .collapsible{
    border-radius: 14px;
    border-color: black;
    border-style: solid;
    background-color: white;
    display: flex;
    flex-direction: horizontal;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    margin-top: 50px;
    padding: 20px;
}

.collapsible{
    display:block;
    background-color: black;
    color:white;
    margin-top: 0px;
    text-align: left;
    font-size: 22px;
    cursor: pointer;

}
.itemsToBring{
    margin-top: 0px;
    display:none;
}

.active, .collapsible:hover {
    background-color:white;
    color:black;
}

.resourceText{
    text-align: left;
    margin-left: 50px;
    font-size: 22px;
    flex-shrink: 2;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 22px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.logo{
    margin-left: 10px;
    height: 125px;
    
}

#helpUsImprove{
    width: 360px;
    font-size: 28px;
    margin-top: 50px;
}

#resourceTitle{
    margin-top: 100px;
}

/* modal source: 
    https://www.thatsoftwaredude.com/content/9123/the-simplest-way-to-create-dynamic-modal-popups-in-javascript 
*/

#modalBox{
    position: absolute;
    flex-direction: column;
    display: flex;
    /* justify-content: flex-start; */
    /* width:100%; */
    /* align-items: center; */
}

#modalBox.on{
    height: 100%;
    width: 100%;
}

.modal {
    padding: 28px 30px;
    z-index: 60000;
    width: 300px;
    min-height: 100px;
    display: none; /*hidden*/

    font-size: 28px;
    background: #333333;

    opacity: 0.8;
    border-radius: 10px;
    color:white;

    text-align: center;
    overflow: scroll;
    width: 80%;
    left: 7.5%;
}

#defModal{
    max-height: 500px;
    background: #333333;
    color:white;
    margin-left:10%;
    margin-top:7%;
    margin-bottom: 20px;
}

#defModal2{
    background: #f2f2f2;
    color:black;
    margin-left:10%;
}

.modal.on {
    display: block;
}

.icon{
    /* position: absolute;
    top: -10px;*/
    width: 20px; 
    background-image:url('assets/infoIcon.png');
}

#bottomIcon{
    position:fixed;
    bottom:20px;
    right:20px;
    width:40px;
    opacity: 0.5;

}

.modal a:link, .modal a:visted{
    color:white;
}

.modal-js-overlay {
    background: #444;
    opacity: .8;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 1000px;
    z-index: 20000;
    left: 0px;
}

.modal-js-close {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: black;
    color: white;
    border-radius: 40%;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 1px;
    padding-bottom: 8px;
    top: -1px;
    right: -1px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}